extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.home
		.container
			p 
			label Price
			p 
				
				input#ori(type="text" value=1000)
			p 
				label Unit
			p
				input#unit(type="number" min=1 max=99 value=1)
			p 
				label Shipping
			p
				select#opt(name="")
					option(value="1") Free 
					option(value="2") Faster
					option(value="3") Amazon Prime
					option(value="4") In 2 hours
			p 
				label Discount code
			p
				input#discount(type="text")
			
			p Total 
			p#total



